.container{
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 10px;
    grid-template-columns: auto auto auto;
    
    height:auto;
   
  
}
.grid{
   width: 60%;
   height: 60%;
   padding: 10px;
   font-size: 30px;
   text-align: center;
   margin: 10px;
  
}
.grid img{
    width: 100%;
    height: 100%;
    object-fit: contain;
     
}
.grid a{
    color: red;
    text-decoration: none;
}
h1{
    text-align: center;
    color: red;
}